@import "../base/typography";
@import "../abstract/colors";

.footer__container {
  width: 100%;
  margin-top: auto;
  padding-left: 1.6rem;
  padding-top: 4rem;
  transform: translateY(-1.6rem);
  font-size: 1rem;
  font-family: $font-gpkn;
  text-transform: uppercase;
}
