@import "../base/typography";
@import "../abstract/colors";
@import "../abstract/mixins";

.mobile-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font-gpkn;
  overflow: hidden;
  z-index: $z-index-middle;
  background: white;
  padding-top: 1.6rem;
  transform: translateX(-100%);
  @include respond(phone) {
    display: block;
  }
  .mobile-menu__item-socials {
    margin-top: 4rem;
  }
  .mobile-menu__item {
    width: 100%;
    cursor: default;
    position: relative;
    .mobile-menu__item-link {
      // display: inline-block;
      // cursor: pointer;
      // text-decoration: none;
      text-transform: uppercase;
      color: $black;
      sup {
        margin-right: 0.8rem;
        font-size: 1.6rem;
      }
    }
    //Reveal mobile-marquee animation on mobile-menu item hover
    &:hover > .mobile-marquee {
      opacity: 1;
      transition: opacity 0.25s ease-in-out;
    }
    .mobile-marquee {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background: $black;
      opacity: 0;
      // transform: translate3d(0, 101%, 0);
      .mobile-marquee__inner-wrap {
        height: 100%;
        width: 100%;
        // transform: translate3d(0, -101%, 0);
        .mobile-marquee__inner {
          height: 100%;
          width: fit-content;
          align-items: center;
          display: flex;
          position: relative;
          animation: mobile-marquee 15s linear infinite;
          will-change: transform;
          &.email {
            animation: mobile-marquee 25s linear infinite;
          }
        }
        @keyframes mobile-marquee {
          from {
            transform: translateX(0);
          }
          to {
            transform: translateX(-50%);
          }
        }
      }
    }
    //Make even mobile-menu items black background;
    &:nth-child(2n) {
      .mobile-marquee {
        background: $gold;
        span {
          color: $orange-red;
        }
      }
    }
    .mobile-menu__item-link,
    .mobile-marquee span {
      white-space: nowrap;
      line-height: 1.2;
      font-weight: 600;
      padding: 0 0.8rem;
      font-size: 4rem;
    }
    .mobile-marquee span {
      font-family: $font-cocomat;
      text-align: center;
      color: $green;
      font-weight: 400;
    }
    .mobile-marquee.social {
      background: white;
    }
    .mobile-marquee.social span {
      color: $blue;
    }
  }
}
