.homepage__container {
  padding-left: 1.6rem;
  .homepage__about-text {
    max-width: 72rem;
    margin-top: 3.2rem;
    font-size: 1.4rem;
    line-height: 2.8rem;
    p {
      margin-top: 1.6rem;
    }
  }
}
