@import "../scss/main";

.work-container {
  padding: 1.6rem;
  max-width: 64rem;
  font-family: $font-montserrat;
  section {
    margin-bottom: 4rem;
    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
      color: $green;
      margin-bottom: 1rem;
      font-family: $font-gpkn;
    }
    .work-list {
      font-size: 1.4rem;
      .work-list__item {
        padding: 1rem 0;
        border-bottom: 2px solid $black;
        a,
        &.no-link {
          font-family: $font-gpkn;
          text-transform: uppercase;
        }
        p {
          font-size: 1.2rem;
          margin-top: 1rem;
        }
      }
    }
  }
}
